body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.titreomf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em;
}
.fleche {
    position: absolute; left: 1.5em;
}
/* Page index*/

/* Section "boxinformation" */

.gpssearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background: linear-gradient( #b4b2b2a9 3%, #b4b2b27a 8%, #eaeaea 75%);
}
.gpssearch>div{
    position: relative;
}
.gps {
    position: absolute;
    top: 12px;
    left: -20px
}

input {
    text-align: center;
    width: 8em;
    padding: 1em 0;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16em;
    margin-bottom: 2em;
    background-color: #f6f6f6;
}

.slogan>h2, p {
    text-align: center;
    margin: 0em 3em 0.5em 3em;
}

.sloganphrase2 {
    text-align: center;
    margin: 0 2em 1.5em 2em;
}

.btnenr {
    z-index: 1;
    position: relative;
    margin: 1.5em 0;
    padding: 1em 2em ;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient( to top , #9d59dc, #e981dc);
}

.btnenr::before {
    z-index: -1;
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s linear;
    opacity: 0;
    background-image: linear-gradient( to bottom , #9d59dc, #e981dc);
    box-shadow:0px 0px 10px 3px rgb(179, 179, 179);
}

.btnenr:hover::before {
    opacity: 1;
    /* transform: scale(1.02);
    box-shadow: 0px 0px 10px 10px rgb(233, 233, 233);*/
}

/* Section Fonctionnement */

#sectionfonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 1em;
}

nav > ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    margin: 0em 0.5em;
    padding: 0;
    gap: 2em;
    list-style: none;
}

a.textefonctionnement {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

nav > ul > li  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5em;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px 2px rgb(228, 228, 228);
    transition: ease-in-out 0.3s;
}

nav > ul > li:hover {
    background-color: #f5edff;
    box-shadow: 0px 4px 8px 2px rgb(204, 204, 204);
}

nav > ul > li:hover>.iconfonctionnement {
    color: #9356dc;
}

nav > ul > li > p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -0.7em;
    width: 1.5em;
    height: 1.5em;
    color: white;
    background-color: #9356dc;
    border-radius: 50%;
}

.iconfonctionnement {
    position: absolute;
    left: 2.5em;
    color: #7e7e7e;
}

/* Section "Restaurants" */

#boxmainrestaurants {
    padding: 3em 1em 3em 1em;
    background-color: #f6f6f6;
}

h2 {
    margin: 0;
}

.ulrestaurants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em 0;
    padding: 0;
    gap: 1em;
    list-style: none;
}

.lirestaurants {
    height: 15.5em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 2px rgb(228, 228, 228);
}

.figurerestaurants {
    position: relative;
    width: 100%;
    height: 11em;
    margin: 0;
    border-radius: 15px;
}

.nouveau {
    text-align: center;
    position: absolute;
    left: 16.5em;
    bottom: 7em;
    right: 29em;
    width: 4.5em;
    padding: 0.5em;
    font-weight: bold;
    color: rgb(30, 150, 110);
    background-color: #99e2d0;
    border-radius: 3px;
}

.imgrestaurants {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    ;
    object-fit: cover;
}

.figcaptionrestaurants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    margin-top: 0.5em;
    padding: 0em 1em;
}

.texterestaurants1, .texterestaurants2 {
    margin: 0em;
}

.texterestaurants1 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

.coeur {
    display: flex;
    align-items: center;
    position: relative;
}

.coeurvide {
    z-index: 2;
    position: absolute;
    bottom: -11px;
    right: 0.5em;
    font-size: 1.4em;
    color: black;
    background-color: white;
}

.coeurfull {
    z-index: 1;
    position: absolute;
    right: 0.5em;
    font-size: 1.4em;
    background: linear-gradient( #e981dc, #9d59dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coeurvide:hover {
    opacity: 0;
    transition: 200ms;
}


/* Page Menu - À la française */

.imgalf {
    z-index: 2;
    width: 100%;
    height: 16em;
}

.sectionalf {
    z-index: 2;
    position: relative; bottom: 2em;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 2em 0;
}

.menutitre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    margin: 0 1em;
}

.lientrees{
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.boxentrees {
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
}

h4 {
    margin: 0.5em 0.5em 0 0.5em;
}

.litexte {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 0.8em;
}







/* Footer */

footer {
    padding: 1em 1em;
    color: white;
    background-color: #353535;
}

.imgomffooter {
    filter: invert(100%);
    width: 6em;
    height: 3em;
}

.textelogofooter {
    display: flex;
    align-items: center;
}

.iconfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-left: 0.5em;
    width: 10px;
}

.textefooter {
    margin: 0.2em;
}