body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: white;

}

.loader {
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
   transition:  4s;
    opacity: 1;
}
.loader::after{
    opacity:0;
}
.titreomf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em;
}

.fleche {
    position: absolute;
    left: 1.5em;
}

/* Page index*/

/* Section "boxinformation" */

.gpssearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background: linear-gradient( #b4b2b2a9 3%, #b4b2b27a 8%, #eaeaea 75%);
}

.gpssearch>div {
    position: relative;
}

.gps {
    position: absolute;
    top: 11px;
    left: -20px
}

input {
    text-align: center;
    width: 8em;
    padding: 1em 0;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16em;
    background-color: #f6f6f6;
}

.slogan>h2 {
    text-align: center;
    margin: 0em 3em 0.5em 3em;
}

.slogan p {
    text-align: center;
    margin: 0em 3em 0.5em 3em;
}

.sloganphrase2 {
    text-align: center;
    margin: 0 2em 1.5em 2em;
}

.btnenr {
    z-index: 1;
    position: relative;
    margin: 1.5em 0;
    padding: 1em 2em;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient( to top, #9356DC, #FF79DA);
    box-shadow: 0px 0px 20px 10px rgb(221, 221, 221);
    cursor: pointer;
}

.btnenr::after {
    z-index: -1;
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s linear;
    opacity: 0;
    background-image: linear-gradient( to bottom, #a278d6, #fa92dd);
    box-shadow: 0px 0px 10px 3px rgb(187, 187, 187);
}

.btnenr:hover::after {
    opacity: 1;
    cursor: pointer;
}

/* Titre h2 fonctionnement et restaurants */

header>h2 {
    display: flex;
    justify-content: center;
}

/* Section Fonctionnement */

#sectionfonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 1em;
    gap: 1em;
}

nav>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2em;
    list-style: none;
}

nav>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 50%;
    padding: 1.8em;
    border-radius: 25px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px 2px rgb(228, 228, 228);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    font-weight: bold;
}

nav>ul>li:hover {
    background-color: white;
    box-shadow: 0px 4px 8px 2px rgb(204, 204, 204);
}

nav>ul>li>p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -0.7em;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
}

nav>ul>li>a {
    display: flex;
    justify-content: left;
    position: relative;
    width: 15em;
    margin-left: 3em;
    text-decoration: none;
    color: black;
}

.li3 {
    background-color: #9256dc25;
}

.pink {
    color: #9356DC;
}

nav>ul>li>i {
    position: absolute;
    left: 2.2em;
    color: #7e7e7e;
}

/* Section "Restaurants" */

#sectionrestaurants {
    padding: 3em 1em 3em 1em;
    background-color: #f6f6f6;
}

.ulrestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4em;
    padding: 0;
    gap: 2em;
    list-style: none;
}

ul.ulrestaurants>li {
    width: 40%;
    height: 15.5em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 2px rgb(228, 228, 228);
    cursor: pointer;
}

ul.ulrestaurants>li>figure {
    position: relative;
    width: 100%;
    height: 11em;
    margin: 0;
    border-radius: 15px;
}

ul.ulrestaurants>li>figure>p {
    text-align: center;
    position: absolute;
    right: 1em;
    bottom: 7em;
    width: 4.5em;
    padding: 0.5em;
    font-weight: bold;
    color: rgb(22, 121, 88);
    background-color: #99e2d0;
    border-radius: 3px;
}

ul.ulrestaurants>li>figure>img {
    width: 100%;
    height: 11em;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.figcaptionrestaurants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    padding: 0em 1em;
}

.texterestaurants1 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0 0 0.2em 0;
}

.texterestaurants2 {
    margin: 0;
}

.figcaptionrestaurants>span {
    display: flex;
    align-items: center;
    position: relative;
}

.coeurvide {
    z-index: 2;
    position: absolute;
    bottom: -11px;
    right: 1em;
    font-size: 1.4em;
    color: black;
    background-color: white;
    
    
}

.coeurfull {
    z-index: 1;
    position: absolute;
    right: 1em;
    font-size: 1.4em;
    background: linear-gradient( #e981dc, #9356DC);
    -webkit-background-clip: text;

}

.coeurvide:hover {
    opacity: 0;
    transition: 200ms;
    
}

/* Responsive index.html */

@media screen and (max-width: 769px) {
    .slogan>h2 {
        margin: 0.5em 2em
    }
    header>h2 {
        justify-content: left;
        margin: 0;
    }
    #sectionfonctionnement {
        gap: 0;
    }
    nav>ul {
        gap: 1em
    }
    nav>ul>li {
        max-width: 100%;
        width: 80%;
    }
    .ulrestaurants {
        flex-direction: column;
        gap: 1em;
        margin: 1em 0;
    }
    ul.ulrestaurants>li {
        width: 100%;
    }
}

/* Page Menu - À la française */

.imgalf {
    z-index: 2;
    width: 100%;
    height: 16em;
}

.sectionalf {
    z-index: 2;
    position: relative;
    bottom: 2em;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 2em 0;
}

.menutitre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    margin: 0 1em;
}

.lientrees {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.boxentrees {
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
}

h4 {
    margin: 0.5em 0.5em 0 0.5em;
}

.litexte {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 0.8em;
}

/* Footer */

footer {
    padding: 1em 2em;
    color: white;
    background-color: #353535;
}

footer>img {
    filter: invert(100%);
    width: 6em;
    height: 2.5em;
}

footer>div {
    display: flex;
    align-items: center;
}

footer>p {
    margin: 0.3em 0;
}

footer div p {
    margin: 0.3em 0em;
}

.contact {
    color: white;
    text-decoration: none;
}

.contact:hover {
    color: #9356DC;
}

.iconfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-left: 0.5em;
    width: 10px;
}